@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
  
}

<script>
    $('.carousel').carousel({
        interval: 500 //changes the speed
    })
</script>
  
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="~/Content/themes/base/images/dictionary.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="~/Content/themes/base/images/dictionary1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="~/Content/themes/base/images/dictionary2.jpg" alt="">
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before" style="font-family:'Comic Sans MS'">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name" style="font-family:'Comic Sans MS'">Online Mini Dictionary</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>
                            By
                            <strong>Moonal</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center" style="font-family:'Comic Sans MS'">
                        Dictionary
                        <strong>worth visiting</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="~/Content/themes/base/images/image.jpg" alt="">
                    <hr class="visible-xs">
                    <p>The only place success comes before work is in the <strong>Dictionary</strong>.</p>
                    <p>Always remember that striving and struggle precede success, even in the <strong>Dictionary</strong>.</p>
                    <p><strong>Dictionary</strong> - Opinion expressed as truth in alphabetical order.</p>
                    <p>
                        The word one wants to use spelled practice or practise? <strong>The dictionary knows</strong>.
                        The <strong>dictionary</strong> also slows down the writing because it is such interesting reading that distracts.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center" style="font-family:'Comic Sans MS'">
                        Use of
                        <strong>Dictionary</strong>
                    </h2>
                  
                    <hr>
                    <p>Dictionaries can be used to check spelling, to learn new words, to find or double-check the meaning of a word you encounter, or to find the right word to use.</p>
                    <p> How to best use a dictionary depends on what you are doing with words. Explore how to use a Dictionary effectively. <a href="http://esl.fis.edu/learners/advice/dic.htm" target="_blank">Click here</a></p>
                </div>
            </div>
        </div>
    </div>
   




   


